@page
@using JsCsharpInterop.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Styles {
    <style>
        .result {
            font-weight: 600;
        }
    </style>
}

<h5>Use fetch() and a Web API</h5>
<input id="serial-id" type="number" />
<button id="get-serial-id">Format</button>
<p>
    <span>Result: <span class="result" id="web-api-result"></span></span>
</p>

<hr />

<h5>Call .NET method from JavaScript</h5>
<input type="number" id="id-input" />
<button id="btn">Format</button>
<p>
    Result: <span class="result" id="dot-net-result"></span>
</p>
<component type="typeof(CallDotNet)" render-mode="ServerPrerendered" />

<hr />

<h5>Razor Component UI</h5>
<component type="typeof(EmbeddedFormatSerial)" render-mode="ServerPrerendered" />

@Html.AntiForgeryToken()

@section Scripts {
    <script src="/js/format-serial.js"></script>
}