@page
@using JsDotNetInterop.Components
@model IndexModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JsDotNetInterop</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <main role="main">
        <h3>Use fetch() and a Web API</h3>
        <input type="number" id="serial-id" />
        <button id="get-serial-id">Format</button>
        <p>Result: <span class="result" id="web-api-result"></span></p>

        <h3>Call .NET method from JavaScript</h3>
        <input type="number" id="id-input" />
        <button id="btn">Format</button>
        <p>Result: <span class="result" id="dot-net-result"></span></p>
        <component type="typeof(CallDotNet)" render-mode="ServerPrerendered" />

        <h3>Razor Component UI</h3>
        <component type="typeof(EmbeddedFormatSerial)" render-mode="ServerPrerendered" />

        @Html.AntiForgeryToken()
    </main>

    <script src="_framework/blazor.web.js"></script>
    <script src="/js/format-serial.js"></script>
</body>
</html>
